.section {
  padding: 0px 32px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 32px;
}

/* Medium screens and up */
@media (min-width: 768px) {
  .section {
    background-color: red;
    grid-template-columns: 1fr 1fr;
  }
}
